.card-view-container {
    width: 225px;
    background-color: black;
    color: white;
    display: grid;
    padding: 10px 15px;
    border-radius: 5px;
}
.title-container {
    font-size: larger;
    margin: 7px 0px;
    font-family: fantasy;
}
.img-container {
    display: flex;
    justify-content: center;
}
img {
    width: 225px;
    height: 309px;
    border-radius: 5px;
}
.info-container {
    display: flex;
    justify-content: flex-end;
    padding: 7px 0px;
}
.status {
    background-color: white;
    color: black;
    font-size: xx-small;
    font-family: emoji;
    padding: 5px;
    border-radius: 50px;
    font-weight: 600;
}
